*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*---- HEADER ----*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter:blur(12px);
    background-color: #fff7;
    padding: 20px 15px;
    position: sticky;
    top:0px;
}

.header__img{
    width: 175px;
    order: 2;
    filter: drop-shadow(0 0 10px #000c);
    margin-right: 15px;
}

.header__nav{
    display: none;
    width: 100vw;
    position: absolute;
    top: 100%;
    left: 0%;
    background: #fffd;
}

.nav__list{
    list-style: none;
    padding:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.nav__list li:first-child::before{
    content:"🏠";
    margin-right: 10px;
}
.nav__list li:nth-child(2)::before{
    content:"📚";
    margin-right: 10px;
}
.nav__list li:nth-child(3)::before{
    content:"📖";
    margin-right: 10px;
}
.nav__list li:last-child::before{
    content:"⚠️";
    margin-right: 10px;
}

.nav__item{
    width: 190px;
    padding: 10px 15px;
    text-align: start;
}

.nav__item:hover{
    background-color: #10b981;
    cursor: pointer;
    border-radius: 10px;
}

.nav__item a{
        text-decoration: none;
        color: #004;
    }

.header__nav.active{
    display: block;
}

.header__btn{
    display: none;
}

.toggle{
    order: 1;
    margin-left: 15px;
}
/*---- HERO----*/

/*---- RESPONSIVE ----*/

/*@media (min-width: 640px) {
}*/

@media (min-width: 768px) {
}

@media (min-width: 1024px) {

    /*---- HEADER ----*/

    .header{
        justify-content: space-between;
        align-items: center;
    }

    .header__img{
        order: 0;
        width: 200px;
    }

    .header__nav{
        display: block;
        position: static;
        width: auto;
        backdrop-filter: blur(12px);
        background-color: #fff7;
    }

    .nav__list{
        flex-direction: row;
        padding: 0;
    }

    .header__btn{
        display: block;
        border-radius: 10px;
        padding: 9px 20px;
        text-decoration: none;
        cursor: pointer;
        background: linear-gradient(135deg, #2bbfb3, #1a9e93);
        color: #fff;
    }
    .toggle{
        display: none;
    }

}

@media (min-width: 1280px) {
}
